<h2 class="dash-heading">Upcoming Bookings</h2>
<div class="dash-card">
  <% current_user.citytours.each do|citytour| %>
    <% citytour.bookings.each do |booking| %>
      <div class="dash-booking">
        <%= cl_image_tag booking.user.photo.key, class: "avatar-review mb-4" %>
        <h3><%= booking.citytour.name %></h3>
        <p>Date: <%= booking.start.strftime("%d/%m/%Y") %></p>
      </div>
    <% end %>
  <% end %>
</div>
