<h1>Guides dashboard</h1>
<% citytours.each do |citytour| %>
  <div>
    <h3><%= citytour.name %></h3>
    <p>$<%= citytour.price %></p>
    <p><%= citytour.overview %></p>
  </div>
<% end %>

# timeslots w option for new tour(form)
  # picture adding/editing
  # if editing then when finished popup with new time

<div class= "container d-flex">
  <div class="dash-content col-sm-12 col-md-8">
    <div class="user-booking-request col-sm-12 col-md-4">
      <p>aksbgkagb</p>
    </div>
    <div class="upcoming-tour col-sm-12 col-md-4">
    </div>
    <div class="city-tours col-sm-12 col-md-8">
      <p>aosubf<p>
    </div>
  </div>
  <div class="user-info col-sm-6 col-md-2">
    <h4>bob<h4>
  </div>
</div>
