<h1>Traveler Dashboard</h1>
<div class= "container d-flex">
  <div class="dash-content col-sm-12 col-md-8">
    <div class="user-booking-request col-sm-12 col-md-4">
      <p>booking request<p>
      <p>accept or deny</p>
    </div>
    <div class="upcoming-tour col-sm-12 col-md-4">
      <p>upcoming tours</p>
      <p>tour info</p>
      <p>user info</p>
    </div>
    <div class="city-tours col-sm-12 col-md-8">
      <p>current_user citytours<p>
    </div>
  </div>
  <div class="user-info col-sm-6 col-md-2">
    <p>bob<p>
    <p>timbuktu<p>
    <p>likes:long pina coladas on the beach and walks in the rain<p>
  </div>
</div>
