.dash-content {
  display: flex;
  justify-content: space-between;
  background-color: rgb(140, 51, 51);
  border: 0.05px;
  border-color: black;
  padding: 4px;
}
.user-booking-request{
  justify-content: space-between;
  background-color: rgb(166, 166, 241);
  border: .05px;
  border-color: black;
  padding: 4px;
}
.user-info-card{
  justify-content: space-between;
  background-color: rgb(133, 246, 246);
  border: 0.05px;
  border-color: black;
  padding: 4px;
}
.city-tour{
  justify-content: space-between;
  background-color: rgb(179, 171, 171);
  border: 0.05px;
  border-color: black;
  padding: 4px;
}
.user-info {
  justify-content: space-between;
  background-color: rgb(202, 154, 247);
  border: 0.05px;
  border-color: black;
  padding: 4px;
}
