.dash-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(216, 201, 201);
  padding: 4px;
  margin: 2px;
  align-items: inline;
  color: rgb(80, 77, 77);
}
.upcoming-tour-card {
  justify-content: space-around;
  background-color: rgb(123, 154, 131);
  padding: 2px;
  margin: 2px;
  align-items: inline;
  color: rgb(87, 86, 86);
}
.booking-request-card{
  justify-content: space-around;
  background-color: rgb(129, 129, 155);
  padding: 2px;
  margin: 2px;
  align-items: inline;
  color: rgb(87, 87, 87);
}

.user-info-card{
  justify-content: space-around;
  background-color: rgb(185, 165, 171);
  padding: 2px;
  margin: 2px;
  align-items: inline;
  color: rgb(97, 96, 96);
}
