.dash-booking {
  margin-bottom: 8px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 100px;
  padding: 26px;
}

.user-info-card{
  width: 330px;
  margin-right: 20px;
  text-align: center;
  .user-info {
    margin: auto;
    margin-top: 50px;
  }
}

.user-info-dash {
  align-items: center;
}
