




<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-telegram-plane"></i></a>
    <a href="#"> <i class="fa-brands fa-vk"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
     <p><i class="fa-solid fa-copyright"></i> 2022 Wonder-Guide</p>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fa fa-envelope"></i></a>
  </div>
</div>
