<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6">


    <% @sights.each do |sight| %>
      <%= cl_image_tag sight.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

    <%= link_to "back to Homepage", root_path %>
   </div>
  </div>
</div>
