<div class= "container text-align-center">
  <div class= "row justify-content-center">
    <div class= "col-6">
      <h2>New sight</h2>
      <%= render "form", sight: @sight %>
      <br>
      <div>
        <%= link_to "back to Sights", sights_path %>
      </div>
    </div>
  </div>
</div>
