
<div id="<%= dom_id @sight %>">
  <div class="container">


    <div class="d-flex justify-content-center flex-wrap">

          <%#   S I G H T  %>
          <div class="d-flex p-2" style="margin-bottom: 10px;">

        </div><%# close d-flex %>


        <%#   M A P B O X   %>
       <div class="d-flex p-2">

        </div><%# close d-flex %>


        <%#   C I T Y   T O U R S   %>

            <div class="d-flex p-2">

            </div><%# close d-flex p-2 %>


        <%#   L I N K S   %>
          <div class="d-flex p-2">

          </div>

      </div> <%# closed-flex align-content-center flex-wrap %>

  </div> <%# close Container %>
</div>
