<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "landing.jpg" %>);">
  <div class="banner-container">
    <div class="banner-text">
      <div class="row justify-content-center align-items-center w-100 h-100">
        <div class="col-sm-6 col-md-6 col-lg-6 text-center p-3 b-text-container" style="background: #00000030">
          <h1>WONDER GUIDE</h1>
          <p>The Guide for the Perfect Tour</p>
          <div class="home-button">
            <%= link_to "Browse Tours", citytours_path, class: "btn button-primary"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
