<div class="d-flex p-2" style="margin-bottom: 10px;">
  <div class="the_card sight col-sm-12 col-md-6 col-lg-6" style="width: 18rem;">
    <div class="the_card-infos">
      <h2><%= citytour.name %></h2>
      <p><i class="fa-solid fa-euro-sign"> <%= citytour.price %></i></p>
      <br>
      <%= link_to "Details", citytour_path(citytour), class: "btn button-secondary"%>
      <%= link_to "Book this Tour", new_citytour_booking_path(citytour), class: "btn button-primary2"%>
    </div>
  </div>
</div>
