<h1>City Tour</h1>
<p>As a user I can see a map of the city	So that I can navigate the sight</p>
I can see a list of the citytours

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


 <%#  %>
 <%#  %>
 <%#  %>
