.banner {
  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 0;
  color: rgb(51, 40, 40);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: rgb(50, 35, 35);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-text {
  position: fixed;
  bottom: 218px;
}

.carousel-inner {
  max-height: 600px;
}

.btn {
  --bs-btn-color: #fff;
  --bs-btn-bg: #05368175;
  --bs-btn-border-color: #0c3674;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #112c50de;
  --bs-btn-hover-border-color: #0f284d;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0D6EFD;
  --bs-btn-disabled-border-color: #0D6EFD;
}
