.card_for_sight{
  flex-direction: row;
}
.card_for_sight img {
  width: 30%;
}

.card_for_sight {
  align-items: center;
}
.card-title {
  font-weight: bold;
}
.card_for_sight img {
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.tour, .sight{
background-color:rgb(233, 233, 233);
padding: 5px ;}

.tour {
  background-color: #e4f9f9;
  padding: 20px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.citytour-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 415px;
  padding: 26px;
}

.tour-card-buttons {
  text-align: center;
  .tour-booking {
    margin-top: 10px;
  }
}

.citytoursight-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height: 415px;
  img {
    width: 100%;
  }
}

.citytour-index-container {
  margin-left: 24px;
}

.tour-sight-container {
  a:hover {
    text-decoration: none;;
  }
}

.citytour-cards-container {
  margin-bottom: 32px;
}
