.dash-content {
  background-color: rgb(154, 208, 136);
  padding: 5px;
}
.user-booking-request {
  background-color: rgb(160, 160, 242);
  padding: 5px;
}
.user-info {
  background-color: rgb(245, 208, 163);
  width: 100%;
  padding: 5px;
}
.city-tours{
  background-color: rgb(133, 176, 245);
}
