.footer {
  // height: defineYourHeight;
  width:100%;
  margin-top: 0px;
}
.footer-links a:hover, .footer-copyright a:hover  {
  color: whitesmoke;
}
.footer-links a {margin:0 10px 0 10px;}
.footer-links {
  display: flex;
  align-items: center;
}

// .flexfooter {
//   margin: 0 5px 0 5px 0;
// }

.footer-copyright  { color: grey; }
.footer p {padding-top: 16px;}

.footer {
  background: #0c3131;
  color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 10px;
  background-size: cover;
  margin-top: auto;
}
