.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
#mapbox_sights {


}
.mapboxgl-map {
  margin-bottom: 50px;
  max-width: 100%;
  min-height: 10%;
}
