.navbar-lewagon {
  justify-content: space-between;
  background: #145251;
}

.navbar-home {
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 8px 8px 8px 8px;
}

.nav-link {
  color: aliceblue;
}

.btn-search {
  margin-left: -65px;
  background-color: rgb(8, 47, 81);
  padding: 3px;
  border-left: 3px;
  color: azure;
  border-radius: 5px 5px 5px 5px;
  max-width: 90px;
  border: none;

}

.dropdown-toggle::after {
  display: none;
}

.search-box input {
  width: 300px;
}
