.the_card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a {
    all: unset;
  }
}

.the_card > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
// height: 180, width: 286, crop: :fill %>
.the_card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.the_card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.the_card .the_card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.the_card-infos .the_card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.show_this_sight p {
  margin-bottom: 0 0 10px 15px;
  padding: 0 0 5px 5px;
}






.button-primary2 {
  text-decoration: none !important;
  color: white;
  padding: 8px 18px;
  border-radius: 4px;
  transition: background 0.5s ease;
  border: 1px solid white;
  background-color: #080158;
}

.button-primary2-details {
  background-color: white;
  color: black;
  border-color: black;
  padding: 8px;
  border-radius: 4px;
}

a.button-primary2:hover{
  text-decoration: none !important;
  // background: linear-gradient(to bottom right, #7A82AB, #474E71);
  // background: white;
  opacity: 0.9;
}





.button-primary2-green {
  text-decoration: none !important;
  color: white;
  padding: 8px 18px;
  border-radius: 4px;
  transition: background 0.5s ease;
  border: 1px solid white;
  background-color: #01583b;
}
