<h1>New Review</h1>

<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :reviewtext %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to the dashboard", dashboard_path %>
